---
layout: layouts/layout.njk
title: "Tags"
permalink: "tags/index.html"
---

<div class="max-w-5xl mx-auto">
    <h1 class="text-3xl font-bold leading-normal text-slate-900 dark:text-white mt-0 mb-3">Tag</h1>
    <div class="flex flex-wrap gap-4 -mx-2">
        {% include "partials/badge-tag.njk" %}
    </div>
</div>