---
layout: ''
eleventyExcludeFromCollections: true
permalink: "posts/index.xml"
eleventyComputed:
  metadata:
    title: "Post page"
    url: "/posts"
    language: "vi"
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.url }}" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ metadata.title }} on ASP R&amp;D Department Website</title>
        <link>{{ site.url }}{{ metadata.url }}</link>
        <description>Recent content in {{ metadata.title }} on {{ site.url }}</description>
        <language>vi</language>
        {%- for post in collections.posts | reverse %}
            <p>{{ post.title }}</p>
            {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
            <item>
                <title>{{ post.data.title }}</title>
                <link>{{ site.url }}{{ absolutePostUrl }}</link>
                <description>{{ post.description }}</description>
                <pubDate>{{ post.date | readableDate }}</pubDate>
                <guid>{{ site.url }}{{ absolutePostUrl }}</guid>
            </item>
        {%- endfor %}
    </channel>
</rss>