<footer class="bg-white dark:bg-gray-900 shadow-md dark:shadow-white w-full px-6 py-4 border-t border-black dark:border-white relative
        bottom-0 left-0">
    <div class="container mx-auto">
        <p class="text-sm dark:text-white">© 2023 - BẢN QUYỀN THUỘC VỀ ASP.</p>
    </div>
</footer>